<li class="list-group-item" id="comment-{{comment.id}}"><i class="fas fa-comment-dots"></i> <span class="commentItem" id="commentContents-{{comment.id}}">{{comment.contents}}</span>
        <sapn class="float-right">
            <a href="" class="btn btn-warning editComment" data-id="{{comment.id}}"><i
                    class="far fa-edit"></i> 수정</a>
            <a href="" class="btn btn-danger deleteComment" data-id="{{comment.id}}"><i
                    class="far fa-trash-alt"></i> 삭제</a>
        </sapn>
    </li>