{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<style>
    .container {
        padding: 10rem !important;
        padding: 10rem !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <form action="{% url 'articles' %}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <div class="card-body">
                <textarea class="form-control" rows="5" name="contents"></textarea>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input multiple name="image" type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <input type="submit" class="btn btn-success" value="작성하기">
            </div>
        </form>
    </div>
</div>

<div class="container">
    {% for article in articles %}
    <div class="row mt-4">
        <div class="card col-12">
            {% if article.article_images %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carlousel">
                <div class="carousel-inner">
                    {% for image in article.article_images %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <img src="{{image.image_thumbnail.url}}" alt="..." class="d-block w-100">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}
            <div class="card-body" style="min-height: 9rem;">
                <p class="card-text">{{article.contents}}</p>
            </div>
            <div class="text-center">
                <a href="{% url 'edit' article.id %}" class="btn btn-warning"><i class="far fa-edit"></i></a>
                <a href="{% url 'delete' article.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </div>
            <ul class="list-group-{{article.id}} list-group-flush" >
                <li class="list-group-item">
                    <form class="commentForm" id="commentForm" data-id="{{article.id}}">
                        <input type="hidden" value="{{article.id}}" id="article_id" name="article_id">
                        <div class="row">
                            <div class="col-9 ">
                                    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" id="csrftoken">
                                <input type="text" class="form-control commentInput" name="contents" id="commentInput-{{article.id}}">
                            </div>
                            <div class="col-3 text-right">
                                <button type="submit" class="btn btn-info submitComment" id="submitComment">쓰기</button>
                            </div>
                        </div>
                    </form>
                </li>
                {% for comment in article.comments %}
                <li class="list-group-item" id="comment-{{comment.id}}"><i class="fas fa-comment-dots"></i> <span class="commentItem" id="commentContents-{{comment.id}}">{{comment.contents}}</span>
                    <sapn class="float-right">
                        <a href="" class="btn btn-warning editComment" data-id="{{comment.id}}"><i
                                class="far fa-edit"></i> 수정</a>
                        <a href="" class="btn btn-danger deleteComment" data-id="{{comment.id}}"><i
                                class="far fa-trash-alt"></i> 삭제</a>
                    </sapn>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
    $(function () {
        // 댓글 수정
        $('.editComment').on('click', function(){
            var comment_id = $(this).data('id');
            var comment_contents = $('#commentContents-'+comment_id).text();
            console.log(comment_id+"  "+comment_contents);
            var article_id = 
            $('#commentInput-{{article.id}}').val(comment_contents);

        })
        
        // 댓글 삭제
        $(document).on('click', '.deleteComment', function(){
            var comment_id = $(this).data('id');
            // var comli_id = $('#comment-'+comment_id).val
            console.log(comment_id);
            // var articleid = $(this).
            $.ajax({
                url: '{% url "delete_comments" %}',
                method: 'POST',
                data: {
                    comment_id: comment_id,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
                success: function(data){
                    alert("댓글삭제 성공");
                    $('#comment-'+comment_id).hide();
                },
                error: function(data){
                    alert("댓글삭제 실패");
                }
            })
        })

        // 댓글 등록
        $(document).on('submit', '.commentForm', function(event){
            event.preventDefault();
            var id = $(this).data('id');
            // commentInput-{{article.id}}
            var commentInput = $('#commentInput-' + id).val();
            var article_id = id;

            console.log(commentInput+" "+article_id+" "+id);
            $('#commentInput-'+id).val('');
            if($('#submitComment').data('method') == 'edit'){

            }else {
                $.ajax({
                    url: '{% url "submit_comments" %}',
                    method: 'POST',
                    data: {
                        article_id: article_id,
                        commentInput: commentInput,
                        csrfmiddlewaretoken: '{{csrf_token}}' // post로 보내주기 때문에 필요해
                    },
                    success: function(data){
                        alert("등록 성공");
                        $('.list-group-'+id).append(data);
                    },
                    error: function(data){
                        alert("등록 실패");
                    }
                })
            }
        })


    })
</script>
{% endblock %}