<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <form class="mb-5 mt-5" id="boardForm">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" id="csrftoken">
        댓글쓰기
        <input type="text" class="form-control" id="boardInput">
        <button type="submit" class="btn btn-primary" id="submitComment">확인</button>
    </form>
    <div class="commentList">
        <ul class="list-group">
            {% for board in boards %}
            <li class="list-group-item" id="board-{{board.id}}">
                <span class="boardItem">{{ board.contents }}</span>
                <span class="float-right">
                    <button type="button" class="btn btn-warning editBoard" data-id="{{board.id}}">수정</button>
                    <button type="button" class="btn btn-danger deleteBoard" data-id="{{board.id}}">삭제</button>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script>
        $(function () {
            // 수정 버튼을 눌렀을 때 실제 DB에서 수정됨
            // 수정 버튼을 찾아서 이벤트를 등록해야함.
            $(document).on('click', '.editBoard',function () {
                var id = $(this).data('id'); // data-id="{{board_id}}"
                var contents = $('#board-' + id + ' .boardItem').text();
                $('#boardInput').val(contents); // input의 value를 contents로 채워준다.
                $('#submitComment').data('method', 'edit'); // 속성에 data-method="edit"이 추가된다.
                $('#submitComment').data('id', id); // 속성에 data-id="id"가 추가됨.
                console.log($('#submitComment').data())

            })

            // 삭제 버튼 눌렀을 때 실제로 DB에서 삭제시키기
            // 삭제 버튼을 눌렀을 때
            $(document).on('click', '.deleteBoard', function () {
                // 해당 줄(list)을 하나 삭제해야함
                var id = $(this).data('id'); // data-id="{{board.id}}"
                // console.log(id); // 댓글 클릭할때마다 댓글의 id가 출력되는것 확인 1,2,3,...
                // 실제로 DB에서 삭제하기.
                $.ajax({
                    url: '{% url "delete_boards" %}',
                    method: 'POST',
                    data: {
                        board_id: id,
                        csrfmiddlewaretoken: '{{csrf_token}}' // post로 보내주기 때문에 필요해
                    },
                    success: function (data) {
                        alert("삭제 성공");
                        $('#board-' + data.board_id).hide();
                    },
                    error: function (data) {
                        alert("삭제 실패");
                    }
                })
                // $('#board-' + id).hide(); // 눈에만 안보이게 하는것. 숨긴다. 새로고침하면 다시 생김.

            })

            // 댓글 쓰고 DB에 등록
            // boardForm이 제출되었을 때
            $('#boardForm').on('submit', function (event) { // e : event
                // 기존 이벤트를 삭제 해주어야 한다
                event.preventDefault();
                // 실제 DB에 등록 될 수 있게끔 ajax 요청을 만들어줌
                var board = $('#boardInput').val();
                // 등록 시에는 /insta/jq_test/boards
                // 수정 시에는 /insta/jq_test/boards/edit


                $('#boardInput').val('');
                if($('#submitComment').data('method') == 'edit'){
                    var id = $('#submitComment').data('id');
                    $.ajax({
                        url: '{% url "edit_boards" %}', 
                        method: 'POST',
                        data: {
                            board_id: id,
                            contents: board,
                            csrfmiddlewaretoken: '{{csrf_token}}'
                        },
                        success: function (data) {
                            alert("수정 성공")
                            // 뭘 찾아야함?
                            $('#board-' + id + ' .boardItem').text(board);
                            // 뭘 바꿔야함?
                            // 확인 버튼에 달려있는 속성(data-method)을 삭제해야함.
                            $('#submitComment').removeData('method');
                        },
                        error: function (data) {
                            alert("수정 실패")
                        }
                    })
                }else {
                    $.ajax({
                        url: '{% url "submit_boards" %}', // ''로 열었으면 "", ""로 열었으면 ''
                        method: 'POST',
                        data: {
                            // key: value
                            board: board,
                            csrfmiddlewaretoken: '{{csrf_token}}'
                        },
                        success: function (data) {
                            alert("성공")
                            $('.list-group').prepend(data); // html data(댓글, empty.html)를 댓글 그룹에 붙여넣기
                        },
                        error: function (data) {
                            alert("실패")
                        }
                    })
                }
            })
        })

        $(document).on('ready', function () {

        })
        // $(function () {
        //     // 댓글 달기
        //     // 댓글쓰기 버튼이 눌렸을 때,
        //     $('#submitComment').on('click', function(){
        //         var input = $('#commentForm').val();
        //         if(input == ''){
        //             alert('댓글을 입력하세요');
        //             return;
        //         }
        //         // ul.list-group에 붙여줌
        //         var position = $('ul.list-group');
        //         // list-group-item 요소를 만들어서
        //         $('#commentForm').val('');
        //         var element = 
        //         `<li class="list-group-item" id="comment-1">
        //             ${input}
        //             <span class="float-right">
        //                 <button type="button" class="btn btn-warning">수정</button>
        //                 <button type="button" class="btn btn-danger delete-comment" value="1">삭제</button>
        //             </span>
        //         </li>`

        //         position.prepend(element);
        //     })

        // 댓글 삭제
        // 이벤트가 발생할 요소를 찾고
        $(document).on('click', '.delete-comment', function () {
            // console.dir($(this));
            var commentId = $(this).attr('value');
            // console.log(commentId);
            // 1. commentID로 삭제할 요소를 찾아서 지워줌
            // $('#comment-' + commentId).remove();
            // 2. 이벤트가 발생한 친구로부터 부모를 찾아 지원 
            $(this).parents('.list-group-item').remove();
            // console.log(this.attr('value')) // error
            // console.dir(this);
            // alert("댓글삭제!");
        });
        // 이벤트가 발생했을 경우 실행할 이벤트 핸들러를 만든다.

        //})
    </script>
</body>

</html>