{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <form action="{% url 'edit_comment' comment.id %}" method="POST">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <div class="card-body">
                <textarea class="form-control" rows="5" name="contents">{{comment.contents}}</textarea>
            </div>
            <div class="card-footer text-right">
                <input type="submit" class="btn btn-success" value="수정하기">
            </div>
        </form>
    </div>
</div>
{% endblock %}