{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<style>
    .container {
        padding: 10rem !important;
        padding: 10rem !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <form action="{% url 'articles' %}" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <div class="card-body">
                <textarea class="form-control" rows="5" name="contents"></textarea>
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input multiple name="image" type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <input type="submit" class="btn btn-success" value="작성하기">
            </div>
        </form>
    </div>
</div>

<div class="container">
    {% for article in articles %}
    <div class="row mt-4">
        <div class="card col-12">
            {% if article.article_images %}
            <div id="carouselExampleControls" class="carousel slide" data-ride="carlousel">
                <div class="carousel-inner">
                    {% for image in article.article_images %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <img src="{{image.image_thumbnail.url}}" alt="..." class="d-block w-100">
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            {% endif %}
            <div class="card-body" style="min-height: 9rem;">
                <p class="card-text">{{article.contents}}</p>
            </div>
            <div class="text-center">
                <a href="{% url 'edit' article.id %}" class="btn btn-warning"><i class="far fa-edit"></i></a>
                <a href="{% url 'delete' article.id %}" class="btn btn-danger"><i class="far fa-trash-alt"></i></a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <form action="{% url 'comments' %}" , method="POST">
                        <input type="hidden" value="{{csrf_token}}" name="csrfmiddlewaretoken">
                        <input type="hidden" value="{{article.id}}" name="article_id">
                        <div class="row">
                            <div class="col-9 ">
                                <input type="text" class="form-control" name="contents">
                            </div>
                            <div class="col-3 text-right">
                                <input type="submit" class="btn btn-info" value="쓰기">
                            </div>
                        </div>
                    </form>
                </li>
                {% for comment in article.comments %}
                <li class="list-group-item"><i class="fas fa-comment-dots"></i> {{comment.contents}}
                    <sapn class="float-right">
                        <a href="{% url 'edit_comment' comment.id %}" class="btn btn-warning"><i
                                class="far fa-edit"></i></a>
                        <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger"><i
                                class="far fa-trash-alt"></i></a>
                    </sapn>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}